.AccountPage {
  background-color: rgba(0,0,0,0.9);
  padding: 60px 0;
  min-height: 100vh;
  .AccountPage__container {
    height: 100%;
    width: 700px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.95);
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .AccountPage__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0.8;
      padding-top: 60px;
      h1 {
        font-size: 100px;
        line-height: 100px;
      }
      h2 {
        font-size: 25px;
        margin-bottom: 60px;
      }
      h3 {
        font-size: 20px;
        margin-bottom: 100px;
      }
    }
    .AccountPage__form {
      width: 70%;
      .new_supporter {
        display: flex;
        flex-direction: column;
        align-items: center;
        .FormField {
          margin-bottom: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          &__input--normal {
            input {
              box-sizing: border-box;
              padding: 8px;
              width: 500px;
              letter-spacing: 1px;
              margin-top: 7px;
              background-color: rgba(0,0,0,0.05);
              border: 1.5px solid rgba(0,0,0,0.2);
              border-radius: 2px;
            }
            .field_with_errors {
              position: relative;
              &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 5px;
              }
            }
          }
          &__favoriteTeam {
            h4 {
              color: #8e8e8e;
              margin-left: 9px;
              letter-spacing: 1px;
              margin-bottom: 10px;
            }
            input[type="radio"] {
              display: none;
            }
            input[type="radio"]:checked + img {
              opacity: 1;
            }
            img {
              opacity: 0.3;
              height: 40px;
              width: 40px;
            }
            &--line {
              width: 500px;
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
      .SignupButton {
        display: flex;
        align-items: center;
        margin-top: 100px;
        justify-content: center;
        h3 {
          margin-right: 10px;
          color: rgba(0,0,0,0.4);
        }
        a {
          color:  #38aef0;
          text-decoration: none;
        }
      }
      .CreateButton {
        color: #fff;
        background-color: #38aef0;
        width: 500px;
        margin-top: 40px;
      }
    }
  }
}

.LogIn {
  height: 100vh;
}

.SignUp {
  .AccountPage__container {
    padding-bottom: 53px;
  }
}
.Button {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

.LoginButton {
  margin-top: 40px;
  color: #fff;
  background-color: #38aef0;
  width: 500px;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}
