.MatchTitle {
  margin-top: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__matchName {
    font-size: 50px;
  }
  &__stadiumName {
    font-size: 35px;
    line-height: 28px;
  }
}
.MatchCard {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-top: 20px;
  .Btn {
    text-decoration: none;
    color: black;
    background-color: rgba(255,255,255,0.9);
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    height: 470px;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__text {
      font-size: 60px;
    }
    &__teamLogo {
    }
    &__teamName {
      font-size: 30px;
    }
  }
  .HomeTeam {

  }
  .AwayTeam {

  }
}