* {
  box-sizing: border-box;
}

.sapporo_color {
  background-color: #FF3300;
}
.sendai_color {
  background-color: #FFCC00;
}
.kashima_color {
  background-color: #CC0033;
}
.urawa_color {
  background-color: #FF3333;
}
.kashiwa_color {
  background-color: #FFFF00;
}
.ftokyo_color {
  background-color: #0000AA;
}
.kawasaki_color {
  background-color: #0099FF;
}
.yokohamafm_color {
  background-color: #0000FF;
}
.yokohamafc_color {
  background-color: #0099FF;
}
.shonan_color {
  background-color: #66CC33;
}
.shimizu_color {
  background-color: #FF9900;
}
.nagoya_color {
  background-color: #FF4500;
}
.gosaka_color {
  background-color: #0033CC;
}
.cosaka_color {
  background-color: #FF1493;
}
.kobe_color {
  background-color: #DC143C;
}
.hiroshima_color {
  background-color: #6633CC;
}
.tosu_color {
  background-color: #00CCFF;
}
.oita_color {
  background-color: #0000CD;
}

body {
  .Container {
    min-height: calc(100vh - 70px);
    padding-top: 60px;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    .PorsitionAbsolute__bottom {
      position: absolute;
      bottom: 0;
    }
    .Stadium {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
      &__text {
        color: white;
        border-bottom: 0.5px solid gray;
        margin-bottom: 20px;
        width: 60vw;
        height: 80px;
        text-align: center;
        font-size: 50px;
        line-height: 100px;
        opacity: 0.8;
      }
      &__caution {
        color: white;
        text-align: center;
        opacity: 0.7;
      }
      &__lists {
        width: 85vw;
        display: flex;
        flex-flow: row wrap;
        padding-bottom: 50px;
        justify-content: space-around;
        .Stadium__list {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 60px;
          height: 99px;
          width: 450px;
          .Stadium__name {
            color: white;
            opacity: 0.7;
            width: 100%;
            text-align: center;
          }
          .ComingSoon {
            opacity: 0.4;
            cursor: pointer;
            background-color: white;
            border: 0.2px solid rgba(0,0,0,0.7);
            height: 75px;
            width: 100%;
            padding: 0 10px;
            border-radius: 3px;
            h1 {
              color: #666666;
              font-size: 20px;
              line-height: 75px;
              text-align: center;
            }
          }
          .Opacity {
            opacity: 0.4;
            cursor: pointer;
          }
          .Stadium__btn {
            background-color: white;
            border: 0.2px solid rgba(0,0,0,0.7);
            height: 75px;
            width: 100%;
            padding: 0 10px;
            border-radius: 3px;
            position: relative;
            text-decoration: none;
            color: black;
            &--top {
              height: 18px;
              font-size: 12px;
              line-height: 18px;
              position: relative;
              .Left {
                float: left;
              }
              .Right {
                float: right;
              }
              center {
                position: absolute;
                left: auto;
                right: auto;
              }
            }
            &--bottom {
              display: flex;
              align-items: center;
              justify-content: space-between;
              height: 52px;
              margin-bottom: 5px;
              img {
                height: 100%;
                width: 52px;
              }
              h3 {
                width: 140px;
                text-align: center;
                font-size: 12px;
              }
              .Btn__versus {
                font-size: 8px;
              }
              span {
                height: 20px;
                width: 6px;
              }
            }
            .KickoffTime {
              font-size: 9px;
              width: 100%;
              text-align: center;
              position: absolute;
              left: 0;
              bottom: 2px;
            }
          }
        }
      }
    }
  }
}
