.Container {
  .ProfileTop {
    height: 300px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow:hidden;
    position: relative;
    top: -20px;
    &__backGround {
      position: absolute;
      top: -150px;
      opacity: 0.5;
      object-fit: cover;
      width: 700px;
      height: 700px;
      transform: rotateZ(25deg);
    }
    &__image {
      position: absolute;
      top: 130px;
      border: 3px solid #ddd;
      border-radius: calc(150px / 2);
    }
  }
  .ProfileMiddle {
    color: #ffffff;
    width: 700px;
    &__supporterName {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2px;
      margin-top: 20px;
    }
    &__biography {
      height: 200px;
      margin-top: 20px;
      overflow-wrap : break-word;
    }
  }
  .EditButton {
    width: 500px;
    margin-top: 10px;
    color: white;
    border: 1px solid #ddd;
    background-color: black;
  }
  .ProfileBottom {
    position: relative;
    top: -420px;
  }
}

.Edit {
  color: White;
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    width: 700px;
    position: relative;
    h2 {
      font-size: 25px;
      margin: 60px 0;
      text-align: center;
    }
    .TopButtons {
      line-height: 38px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 60px;
      width: 700px;
      &__btn--left {
        text-decoration: none;
        color: white;
      }
      &__btn--right {
        color: #38aef0;
        border: none;
        appearance: none;
        cursor: pointer;
        background: none;
        outline: none;
      }
    }
  }
  &__form {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    .AvatarImage {
      position: relative;
      img {
        border-radius: calc(150px / 2);  
      }
      input {
        display: none;
      }
      &__icon {
        position: absolute;
        bottom: 15px;
        right: 0;
        border: #ffffff;
        border-radius: 15px;
        background-color: #ffffff;
        i {
          font-size: 30px;
          color: #38aef0;
        }
      }
    }
    .FormField {
      width: 100%;
      margin-top: 30px;
      border-top: 0.5px solid gray;
      border-bottom: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 10px;
      &__input {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;  
        label {
          display: flex;
          justify-content: space-around;
          width: 100%;
          line-height: 70px;
          h3 {
            width: 25%;
          }
          .BorderBottom {
            width: 70%;
            border-bottom: 0.5px solid gray;
            input {
              color: white;
              background-color: black;
              border: none;
              width: 100%;
              outline: none;
            }
          }
          textarea {
            color: white;
            background-color: black;
            border: none;
            resize: none;
            height: 100px;
            width: 70%;
            margin-top: 23px;
            outline: none;
          }
        }
      }
    }
  }
  .LogoutButton {
    text-decoration: none;
    color: #38aef0;
    margin-top: 80px;
  }
}
